
.navbar .navbar-collapse {
  text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.biginput:not(:focus) {
    box-shadow: 0 1px rgba(31,127,255,0.3);
}
