<!doctype html>
<html lang="en">

<head>
    <title>Beddit - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Votelist</a>
        <a class="btn btn-outline-light" href="/register" id="user-settings">Sign Up</a>
    </div>
</nav>
<body>
    
    <div class="container" style="padding-top: 60px; max-width: 400.98px;">
        <div id="wrapper">
            <% if (message != undefined) { %>
            <div class="alert alert-danger text-center" role="alert">
                <%= message %>
            </div>
            <% } %>
            <div class="card text-center">
                
                <div class="card-body">
                    <br>
                    <h1>Log In</h1>
                    <br>
                    <br>
                    <form action="/login" method="post">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg></span></div>
                            <input class="form-control" name="username" type="text" placeholder="Username" required maxlength="30">
                        </div><br>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                              </svg></span></div>
                            <input class="form-control" name="password" type="password" placeholder="Password" required maxlength="30">
                        </div><br>
                        <button class="btn btn-primary" type="submit" style="width:100%;">Log In</button>
                        <span id="lower">Need a account? <a href="/register">Sign Up</a></span>

                    </form>
                </div>
            </div><br>
            
        </div>
    </div>
</body>

</html>