<!-- Example single danger button -->
<div class="btn-group float-right " style="cursor: pointer; user-select: none;">
<a class="dropdown-toggle dropleft" style="height:25px; margin-top:5px; " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item sort-top" href="?sort=top">Top</a>
        <a class="dropdown-item sort-new" href="?sort=new">New</a>
        <a class="dropdown-item sort-old" href="?sort=old">Old</a>
    </div>
</div><br>
<hr>

