<div class="card mt-4">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="articles/dd" style="transition: none 0s ease 0s; position: relative; left: -13px;" class="btn btn-primary">19 🡅</a>
                </div>
                <div class="col">
                    <div class="card-text mb-2" style="position: relative; top: 7px; left: 29px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellat vero incidunt voluptates suscipit eaque aperiam a consequatur? Ratione vero nemo natus, quasi odio sequi odit nam eaque. Aperiam, eaque.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>