<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">

</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>

<div class="card mt-4">
    <div class="card-body">
        <div class="card-subtitle mb-2">New Vote element</div>

                <input required type="text" name="votetitle" id="votetitle" class="form-control">


            </div>
    <button type="submit" class="btn btn-primary">Add</button>
</div>



<%- include('_vote_element') %>
<%- include('_vote_element') %>
<%- include('_vote_element') %>

