<div class="card mt-4">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="articles/dd" style="transition: none 0s ease 0s; position: relative; left: -13px;" class="btn btn-primary">19 🡅</a>
                </div>
                <div class="col-9">
                    <div class="card-text mb-2" style="position: relative; top: 7px; ">Lorem ipsum dolor sit amet consectetur ad</div>
                </div>
            </div>
        </div>
    </div>
</div>