<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votepoll</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4"> Test Votepoll</h1>
        <a href="/votepolls/new" class = "btn btn-success">New Votepoll</a>

        <% votepolls.forEach(votepoll => { %>
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title"><%= votepoll.title %></h4>
                <div class="card-text mb-2"><%= votepoll.description %></div>
                <div class="card-subtitle text-muted mb-2">
                    <%= votepoll.createdAt.toLocaleDateString()%>
                </div>
              </div>
            </div>
          <% }) %>
          
    </div>
</body>
</html>